html{
    background-color: rgb(0, 0, 0);
    
}

body{
    background-color: red;
}

.fundo-branco h3{
    font-size: 50px;
    background-color: transparent;
    font-family: 'Outfit', sans-serif;
   text-align: center;
}

.fundo-branco{
    background-color: white;
    width: 320px;
    height: 495px;
    position: relative;
    left: 37.5%;
    top:  50px;
    border-radius: 10%;
    border-color: black;
    border: 5px solid  ;
}

 img{
    width: 255px;
    height: 255px;
    padding-left: 10%;
    padding-top: 55px;
}